<section class="rsp-navbar banner">
	<div class="d-flex justify-content-between">
		
		<div class="logo">
			<!--Cambiar la imagen-->
			<a class="navbar-brand" href="{{endpointRebase settings.url}}"><img class="logo-img-open-data" src="/img/logo-datos.png" alt="{{ settings.title }}"></a>
		</div>
		
		<div class="d-flex align-items-center mr-3">
			<div class="navbar-nav">
				<div class="nav-item">
					<a href="/administrador/logout" style="color: white;" class="nav-link">
						{{#if secondary_navigation}}
							Logout
						{{else}}
							Cerrar sesión
						{{/if}}
					</a>
				</div>
			</div>
		</div>

	</div>
</section>

{{>admin/navigation secondary_navigation=secondary_navigation}}

<main class="container mt-5 mb-5">
	<div class="row">
		<div class="col-12" id="sectionContainer">
		<h3 class="rsp-title ft-bold mb-4 text-center">
			{{#if secondary_navigation}}
				Update figures
			{{else}}
				Actualizar cifras
			{{/if}}
		</h3>
		{{#if info_document}}
			{{#each info_document}}
				<div class="col-12">
					<div class="{{style}}" role="alert">
							<strong>{{message}}</strong> 
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
				{{/each}}
		{{/if}}

			<form id="datosabiertos-form" action="/secciones-admin/cifras" method="POST" class="needs-validation" novalidate >
				
				<div class="form-group row">
					<label for="lesionados" class="col-12 col-md-2 col-form-label">
						*{{#if secondary_navigation}}
							Harmed
						{{else}}
							Lesionados
						{{/if}}:
					</label>
					<div class="col-12 col-md-10">
							<input 
								type="text" 
								id="lesionados"  
								name="lesionados" 
								maxlength="200" 
								placeholder="Ingrese el número de lesionados" 
								class="form-control"
								required
								pattern="\d*"
								value="{{lesionados}}"
							>
							<small class="invalid-feedback">
								{{#if secondary_navigation}} 
									You must enter an integer.
								{{else}}
									Debe introducir un número entero.
								{{/if}}
							</small>
					</div>
				</div>

				<div class="form-group row">
					<label for="accidentados" class="col-12 col-md-2 col-form-label">
						*{{#if secondary_navigation}}
							Injured
						{{else}}
							Accidentados
						{{/if}}:
					</label>
					<div class="col-12 col-md-10">
							<input 
								type="text" 
								id="accidentados"  
								name="accidentados" 
								maxlength="200" 
								placeholder="Ingrese el número de accidentados"
								class="form-control" required
								pattern="\d*"
								value="{{accidentados}}"
							>
							<small class="invalid-feedback">
								{{#if secondary_navigation}} 
									You must enter an integer.
								{{else}}
									Debe introducir un número entero.
								{{/if}}
							</small>
					</div>
				</div>

				<div class="form-group row">
					<label for="fallecidos" class="col-12 col-md-2 col-form-label">
						*Fallecidos:
					</label>
					<div class="col-12 col-md-10">
							<input 
								type="text" 
								id="fallecidos"  
								name="fallecidos" 
								maxlength="200"
								placeholder="Ingrese el número de fallecidos"
								class="form-control" 
								required
								pattern="\d*"
								value="{{fallecidos}}"
							>
							<small class="invalid-feedback">
								{{#if secondary_navigation}} 
									You must enter an integer.
								{{else}}
									Debe introducir un número entero.
								{{/if}}
							</small>
					</div>
				</div>

				<div class="form-group row">
					<label for="mensaje1" class="col-12 col-md-2 col-form-label">
						*1° Mensaje:
					</label>
					<div class="col-12 col-md-10">
						<input 
							type="text" 
							id="mensaje1"  
							name="mensaje1" 
							maxlength="200"
							placeholder="Ingresa el primer mensaje"
							class="form-control" 
							required
							value="{{mensaje1}}"
						>
					</div>
				</div>

				<div class="form-group row">
					<label for="mensaje2" class="col-12 col-md-2 col-form-label">
						*2° Mensaje:
					</label>
					<div class="col-12 col-md-10">
							<input 
								type="text" 
								id="mensaje2"  
								name="mensaje2" 
								maxlength="200"
								placeholder="Ingresa el segundo mensaje"
								class="form-control" 
								required
								value="{{mensaje2}}"
							>
					</div>
				</div>

				<div style="margin-top: 20px;">
					<p style="color: #ee1d27;">*: {{#if secondary_navigation}}
							Required fields
						{{else}}
							Campos obligatorios
						{{/if}}</p>
				</div>
				
				<div class="form-group d-flex flex-row-reverse mt-5">
					<button type="submit" class="btn btn-rsp ft-bold">
						{{#if secondary_navigation}}
							Send
						{{else}}
							Enviar
						{{/if}}
					</button>
				</div>
			</form>
			
		</div>
	</div>
</main>