{{#if documentsList}}
    {{#each documentsList}}
        <h2 class="title-data text-justify mt-5">{{title}}</h2>
        <div class="mt-2">
            <p class="author-data"><i class="fas fa-user"></i> Autor: {{author}}</p>
        </div>
        <div class="row category-data mt-2">
            <div class="col-4">
                <small>
                    <i class="{{parseIcon category1}}"></i> {{parseCategory category1}}
                </small>
            </div>
             <div class="col-4">
                <small>
                    <i class="{{parseIcon category2}}"></i> {{parseCategory category2}}
                </small>
            </div>
             <div class="col-4">
                <small>
                    <i class="{{parseIcon category3}}"></i> {{parseCategory category3}}
                </small>
            </div>
        </div>
        <div class="mt-2">
            <p class="text-justify description-data" style="text-align: justify:  !important;">{{description}}</p>
        </div>
        <div class="row category-data mt-2">
            <div class="col-4">
                <small>
                    Publicado el {{fecha}}
                </small>
            </div>

        </div>
        <div class="row category-data">
            <div class="col-3 row">
                <div class="col-4">
                    <small>
                        <a href="{{parseUrlToDownload excelfile}}" target="_blank" style="{{parseClassToDownload excelfile}}">excel <i class="fal fa-cloud-download pl-2 pt-1"></i></a>
                    </small>
                </div>
                <div class="col-4">
                    <small>
                        <a href="{{parseUrlToDownload pdffile}}" target="_blank" style="{{parseClassToDownload pdffile}}">pdf <i class="fal fa-cloud-download pl-2 pt-1"></i></a>
                    </small>
                </div>
                <div class="col-4">
                    <small>
                        <a href="{{parseUrlToDownload csvfile}}" target="_blank" style="{{parseClassToDownload csvfile}}">csv <i class="fal fa-cloud-download pl-2 pt-1"></i></a>
                    </small>
                </div>

            </div>
        </div>
    {{/each}}
{{/if}}