<!DOCTYPE html>
<html lang="{{settings.lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/main.css">
    <script src="https://kit.fontawesome.com/06fd3ecd3e.js" crossorigin="anonymous"></script>
    <link rel="icon" type="/img/png" href="{{settings.icon}}">
    <title>{{seoMetas.title}}</title>
    <meta name="description" content="{{seoMetas.description}}">
    <meta name="keywords" content="seguridad vial, reportes, accidentes,carreteras">
    <meta name="author" content="Observatorio Nacional de Seguridad Vial">   
</head>
<body>
    {{#if enabledNavigation}}
        {{> default/navigation}}
    {{/if}}
    {{{body}}}
    {{#if enabledFooter}}
        {{> default/footer}}
    {{/if}}
     {{#if enabledNavigation}}
        {{> default/suscribers-modal}}
    {{/if}}
    
    <!--Facebookk-->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v10.0&appId=432011537895587&autoLogAppEvents=1" nonce="jzJ5ofo4"></script>
    <script src="/dist/main.js"></script>
    
</body>
</html>
