<!DOCTYPE html>
<html lang="{{settings.lang}}">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/main.css">
		<link rel="stylesheet" href="/features.css">
		<link rel="stylesheet" href="/openData.css">
		<script src="https://kit.fontawesome.com/06fd3ecd3e.js" crossorigin="anonymous"></script>
		<link rel="icon" type="/img/png" href="{{settings.icon}}">
		<title>{{seoMetas.title}}</title>
		<meta name="description" content="{{seoMetas.description}}">
		<meta name="keywords" content="seguridad vial, reportes, accidentes,carreteras">
		<meta name="author" content="Observatorio Nacional de Seguridad Vial">   
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-256137196-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-256137196-1');
		</script>
	</head>

	<body>
		{{#if enabledNavigation}}
			{{> default/navigation}}
		{{/if}}

		{{{body}}}
		
		{{#if enabledFooter}}
			{{> default/footer}}
		{{/if}}
		
		{{#if enabledNavigation}}
			{{> default/suscribers-modal}}
		{{/if}}
		
		<div id="fb-root"></div>

		<!--Facebookk-->
		<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
		<script src="/main.js"></script>
		<script src="/opendata.js"></script>
		<script src="/features.js"></script>

		
	</body>

</html>
