<article class="card">
	<a class="card-body" href="/comunicaciones/{{id}}">
		
		<div class="date">
			<span class="day">{{startDay}}</span>
			<span class="month">{{startMonth}}</span>
		</div>

		<div class="event-info">
			<h6 class="card-title ft-bold">{{title}}</h6>
			<p class="text-justify">
				{{{shortDescription}}}
			</p>
		</div>

	</a>
</article>