
<link href="/datatables/DataTables-1.13.4/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
<link href="/datatables/Buttons-2.3.6/css/buttons.bootstrap4.min.css" rel="stylesheet"/>
<link href="/datatables/KeyTable-2.8.2/css/keyTable.bootstrap4.min.css" rel="stylesheet"/>
<link href="/datatables/SearchPanes-2.1.2/css/searchPanes.bootstrap4.min.css" rel="stylesheet"/>
<link href="/datatables/StateRestore-1.2.2/css/stateRestore.bootstrap4.min.css" rel="stylesheet"/>
 
<script src="/datatables/jQuery-3.6.0/jquery-3.6.0.min.js"></script>
<script src="/datatables/DataTables-1.13.4/js/jquery.dataTables.min.js"></script>
<script src="/datatables/DataTables-1.13.4/js/dataTables.bootstrap4.min.js"></script>
<script src="/datatables/Buttons-2.3.6/js/dataTables.buttons.min.js"></script>
<script src="/datatables/Buttons-2.3.6/js/buttons.bootstrap4.min.js"></script>
<script src="/datatables/Buttons-2.3.6/js/buttons.colVis.min.js"></script>
<script src="/datatables/KeyTable-2.8.2/js/dataTables.keyTable.min.js"></script>
<script src="/datatables/SearchPanes-2.1.2/js/dataTables.searchPanes.min.js"></script>
<script src="/datatables/SearchPanes-2.1.2/js/searchPanes.bootstrap4.min.js"></script>
<script src="/datatables/StateRestore-1.2.2/js/dataTables.stateRestore.min.js"></script>
<script src="/datatables/StateRestore-1.2.2/js/stateRestore.bootstrap4.min.js"></script>

<link href="/admin/gestion-usuarios/css/roles.css" rel="stylesheet"/>
<script defer src="/admin/gestion-usuarios/js/roles.js"></script>

<style>
	.table thead tr th {
		font-weight: bold; 
		vertical-align: middle;
		font-size: 1.25rem;
	}
	.table td {
		vertical-align: middle;
	}
</style>

{{>admin/banner secondary_navigation=secondary_navigation}}
{{>admin/navigation secondary_navigation=secondary_navigation}}

<main class="container-fluid mt-3 mb-3" id="crud">
	<h3 class="rsp-title ft-bold mb-3 text-center">
		Gestión de usuarios - Roles
	</h3>

	<div class="container">
		
		{{#if info_document}}
			{{#each info_document}}
				<div class="{{style}}" role="alert">
					<strong>{{message}}</strong> 
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{{/each}}
		{{/if}}

		<button 
			type="button" 
			class="btn btn-primary mb-3" 
			data-toggle="modal"
			data-target="#modalAgregar"
			style="padding: 5.5px 15px;"
		>
			Crear rol
		</button>

		<div class="table-responsive">
			<table class="table" id="data-table">
				<thead>
					<tr>
						<th 
							scope="col" 
						>
							Rol
						</th>
						<th 
							scope="col" 
						>
							Permisos
						</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{{#each roles}}
						<tr
							data-id="{{id}}"
							data-value="{{value}}"
							data-permission-values="{{permissionValuesString}}"
						>
							<td style="font-size: 1.25em;">
								{{this.value}}
							</td>
							<td style="font-size: 1.25em;">
								{{#each this.permissions}}
									<span class="badge badge-primary">{{this.alias}}</span>
								{{/each}}
							</td>
							<td>
								<div class="text-truncate" role="group" aria-label="Basic example">
									<button 
										type="button" 
										class="btn btn-primary text-truncate" 
										data-toggle="modal" 
										data-target="#modalEditar"
										style="padding: 5.5px 15px;"
									>
										<i class="fas fa-edit"></i>
									</button>
									<button 
										type="button" 
										class="btn btn-danger text-truncate" 
										data-toggle="modal" 
										data-target="#modalEliminar"
										style="padding: 5.5px 15px;"
									>
										<i class="fas fa-trash-alt"></i>
									</button>
								</div>
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>

	</div>
	
	<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="agregar" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
			<form class="modal-content" id="formAgregar" class="needs-validation">
				<div class="modal-header">
					<h5 class="modal-title" id="modalAgregarLabel">Agregar</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">

					<div class="form-group row">
						<label for="new_value" class="col-auto col-md-2 col-form-label">
							*Rol:
						</label>
						<div class="col-auto col-md-10">
							<input 
								type="text"
								id="new_value"
								name="value" 
								maxlength="2000" 
								placeholder="Ingrese el nombre del rol"
								class="form-control"
								required
							>
						</div>
					</div>

					<div class="form-check">
						<input 
							type="checkbox" 
							class="form-check-input select-all-button" 
							id="addSelectAllButton"
							checked
						>
						<label class="form-check-label" for="addSelectAllButton">
							Seleccionar todo
						</label>
					</div>

					<div class="role-container" id="addRoleContainer">
						{{#each permisos}}
							<div class="role">
								<div class="role-title">{{this.meta.alias}}</div>
								<div class="role-permissions">
									{{#if this.read}}
										<div class="form-check">
											<input 
												type="checkbox" 
												class="form-check-input" 
												id="new_{{this.read}}"
												name="{{this.read}}"
												checked
											>
											<label class="form-check-label" for="new_{{this.read}}">
												Acceder
											</label>
										</div>
									{{/if}}
									{{#if this.create}}
										<div class="form-check">
											<input 
												type="checkbox" 
												class="form-check-input" 
												id="new_{{this.create}}"
												name="{{this.create}}"
												checked
											>
											<label class="form-check-label" for="new_{{this.create}}">
												Crear
											</label>
										</div>
									{{/if}}
									{{#if this.update}}
										<div class="form-check">
											<input 
												type="checkbox" 
												class="form-check-input" 
												id="new_{{this.update}}"
												name="{{this.update}}"
												checked
											>
											<label class="form-check-label" for="new_{{this.update}}">
												Actualizar
											</label>
										</div>
									{{/if}}
									{{#if this.delete}}
										<div class="form-check">
											<input 
												type="checkbox" 
												class="form-check-input" 
												id="new_{{this.delete}}"
												name="{{this.delete}}"
												checked
											>
											<label class="form-check-label" for="new_{{this.delete}}">
												Eliminar
											</label>
										</div>
									{{/if}}
									
								</div>
							</div>
						{{/each}}
					</div>

					<div style="margin-top: 20px;">
						<p style="color: #ee1d27;">
							*: Campos obligatorios
						</p>
					</div>

				</div>

				<div class="modal-footer">
					<button 
						type="button" 
						class="btn btn-secondary" 
						data-dismiss="modal"
					>
						Cancelar
					</button>
					<button 
						type="submit" 
						class="btn btn-primary" 
						id="btnAgregar"
					>
						Agregar
					</button>
				</div>
			</form>
		</div>

	</div>

	<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="editar" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
			<form class="modal-content" id="formEditar" class="needs-validation">
				<div class="modal-header">
					<h5 class="modal-title" id="modalEditarLabel">Editar rol</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">

					<div class="form-group row">
						<label for="value" class="col-auto col-md-2 col-form-label">
							*Rol:
						</label>
						<div class="col-auto col-md-10">
							<input 
								type="text"
								id="value"
								name="value" 
								maxlength="2000" 
								placeholder="Ingrese el nombre del rol"
								class="form-control"
								required
							>
						</div>
					</div>

					<div class="form-check">
						<input 
							type="checkbox" 
							class="form-check-input select-all-button" 
							id="editSelectAllButton"
						>
						<label class="form-check-label" for="editSelectAllButton">
							Seleccionar todo
						</label>
					</div>

					<div class="role-container" id="editRoleContainer">
						{{#each permisos}}
							<div class="role">
								<div class="role-title">{{this.meta.alias}}</div>
								<div class="role-permissions">
									{{#if this.read}}
										<div class="form-check">
											<input 
												type="checkbox" 
												class="form-check-input" 
												id="{{this.read}}"
												name="{{this.read}}"
											>
											<label class="form-check-label" for="{{this.read}}">
												Acceder
											</label>
										</div>
									{{/if}}
									{{#if this.create}}
										<div class="form-check">
											<input 
												type="checkbox" 
												class="form-check-input" 
												id="{{this.create}}"
												name="{{this.create}}"
											>
											<label class="form-check-label" for="{{this.create}}">
												Crear
											</label>
										</div>
									{{/if}}
									{{#if this.update}}
										<div class="form-check">
											<input 
												type="checkbox" 
												class="form-check-input" 
												id="{{this.update}}"
												name="{{this.update}}"
											>
											<label class="form-check-label" for="{{this.update}}">
												Actualizar
											</label>
										</div>
									{{/if}}
									{{#if this.delete}}
										<div class="form-check">
											<input 
												type="checkbox" 
												class="form-check-input" 
												id="{{this.delete}}"
												name="{{this.delete}}"
											>
											<label class="form-check-label" for="{{this.delete}}">
												Eliminar
											</label>
										</div>
									{{/if}}
									
								</div>
							</div>
						{{/each}}
					</div>

					<div style="margin-top: 20px;">
						<p style="color: #ee1d27;">
							*: Campos obligatorios
						</p>
					</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						Cancelar
					</button>
					<button type="submit" class="btn btn-primary" id="btnEditar">
						Editar
					</button>
				</div>
			</form>
		</div>

	</div>

	<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="eliminar" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<form class="modal-content" id="formEliminar">
				<div class="modal-header">
					<h5 class="modal-title" id="modalEliminarLabel">Eliminar categoría</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Se eliminará esta información, ¿Está seguro?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-danger" id="btnEliminar">Eliminar</button>
				</div>
			</form>
		</div>
	</div>

</main>