<ul>
    <li>
        <div class="dt-blk">
           <span>
               <i class="fal fa-calendar-alt"></i>
               {{fecha_registro}}
           </span>
           <span>
               <i class="fal fa-calendar-alt"></i>
               {{hora_registro}}
           </span>
           <p class="mt-2">
               {{t lang "clase"}}: {{descripcion}}<br>
               {{t lang "lugar"}}: {{departamento}} / {{provincia}} / {{distrito}}<br>
               {{t lang "coord"}}: {{latitud}} {{longitud}}<br>
               {{t lang "vehiculos"}}: {{vehiculos-lista}}<br>
               {{t lang "consecuencias"}}: {{descripcion-lista}}
           </p>
        </div>
    </li>
</ul>