<ul>
    <li>
        <div class="dt-blk">
           <span>
               <i class="fal fa-calendar-alt"></i>
               {{fecha_registro}}
           </span>
           <span>
               <i class="fal fa-calendar-alt"></i>
               {{hora_registro}}
           </span>
           <p class="mt-2">
               Clase: {{descripcion}}<br>
               Lugar: {{departamento}} / {{provincia}} / {{distrito}}<br>
               Coordenada: {{latitud}} {{longitud}}<br>
               Vehículos: {{vehiculos-lista}}<br>
               Consecuencias: {{descripcion-lista}}
           </p>
        </div>
    </li>
</ul>