<div class="col-md-4">
    <div class="rsp-res-blk">
        <div class="rsp-res-img">
            <a href="{{endpointPostParse (parseHttp url)  }}" class="m-gap"><img class="pu-3" src="{{parseHttp feature_image }}" alt="h-map"></a>
        </div>
        <div class="dt-blk">
            <a href="{{endpointPostParse (parseHttp url)  }}" class="m-gap"><span><i class="fal fa-calendar-alt"></i> {{parseDate published_at }}</span></a>
            <a href="{{ endpointPostParse (parseHttp url) }}" class="m-gap"><span><i class="fal fa-clock pl-2"></i> {{reading_time}} {{t "es" "minutos"}}</span></a>

        </div>
        <p class="p-hide">
            {{excerpt }}
        </p>
    </div>
</div>