<div class="col-md-4">
    <div class="rsp-res-blk">
        <div class="rsp-res-img">
            <a href="{{endpointPostParse (parseHttp url) lang  }}" class="m-gap"><img class="pu-3-extend" src="{{parseHttpImage feature_image }}" alt="h-map"></a>
        </div>
        <div class="dt-blk">
            <a href="{{endpointPostParse (parseHttp url)  lang }}" class="m-gap"><span><i class="fal fa-calendar-alt"></i> {{parseDate published_at }}</span></a>
            <a href="{{ endpointPostParse (parseHttp url) lang }}" class="m-gap"><span><i class="fal fa-clock pl-2"></i>  {{parseHour created_at "hh:mm" }}</span></a>

        </div>
        <p class="p-hide">
            {{excerpt }}
        </p>
    </div>
</div>