<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONSV NewsLetter</title>
    <style type="">
        .boton, .boton:hover, .boton:active, .boton:visited {
        background-color: #eb1e23;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        }
    </style>
</head>
<body>
    <div style="padding: 15px 10px;">
        {{#each post}}
            <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
                <div style="text-align: center; padding-bottom: 15px;">
                    <img src="{{parseHttp feature_image}}" alt="imagen" style="width: 350px; height: 100%;">
                </div>
                <div style="padding: 15px 15px; max-width: 350px;">
                    <h2 style="text-align: center; font-weight: bold;">{{title}}</h2>
                    <span style="font-size: 12px; font-weight: bold;">Fecha de publicación: {{parseDate created_at}}</span>
                    <p style="text-align: justify;">{{excerpt}}</p>
                    <a href="{{endpointPostParse (parseHttp url) 'es'}}" class="boton">
                        {{t ../lang "leer más"}}
                    </a>
                </div>
            </div>
        {{/each}}
    </div>    
</body>
</html>