<link rel="stylesheet" href="/css/normas-legales.css">

<script src="/js/normas-legales.js"></script>

<section class="normas-legales-section">

	<div class="filters">

		<form id="searchForm" method="GET">

			<div class="input-group mb-4">
				<input 
					type="text" 
					id="title" 
					name="title" 
					class="form-control main-search" 
					placeholder="{{t lang "buscar"}}"
					{{#if title}}
						value="{{title}}"
					{{/if}}
				>
				<div class="input-group-append">
					<button class="input-group-text search-input" type="submit">
						<i class="fal fa-search"></i>
					</button>
				</div>
			</div>

			<div class="form-group row">
				<label for="categoria" class="col-3 col-form-label">
					Categoría
				</label>
				<div class="col-9">
					<select name="categoria" id="categoria" class="form-control">
						<option {{#if categoria}} {{else}} selected {{/if}} value=''>Selecione una categoría</option>
						{{#each allTags}}
							<option 
								value="{{this.slug}}"
								{{#if this.estaSeleccionado}}
									selected
								{{/if}}
							>
								{{this.name}}
							</option>
						{{/each}}
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label for="region" class="col-3 col-form-label">
					Región
				</label>
				<div class="col-9">
					<select name="region" id="region" class="form-control">
						<option {{#if region}} {{else}} selected {{/if}} value=''>Selecione una región</option>
						{{#each regiones}}
							<option 
								value="{{this.slug}}"
								{{#if this.estaSeleccionado}}
									selected
								{{/if}}
							>
								{{this.value}}
							</option>
						{{/each}}
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label for="year" class="col-3 col-form-label">
					Año
				</label>
				<div class="col-9">
					<select name="year" id="year" class="form-control">
						<option {{#if year}} {{else}} selected {{/if}} value=''>Selecione un año</option>
						{{#each years}}
							<option 
								value="{{this.slug}}"
								{{#if this.estaSeleccionado}}
									selected
								{{/if}}
							>
								{{this.name}}
							</option>
						{{/each}}
					</select>
				</div>
			</div>

			<div class="d-flex justify-content-center">
				<button class="ny-btn btn btn-rsp ft-bold" id="clearButton">
					Limpiar
				</button>
			</div>


		</form>

		{{>sidebar-widgets/subscribers lang=lang}}

	</div>

	<div class="results">
		{{#if hasResults}}
			{{#each posts}}
				{{>normas-legales/normas-legales-card-body lang=../lang}}
			{{/each}}

			<nav class="col-12 d-flex justify-content-center ">
				{{#if pagination}}
					{{> pagination pag=pagination}}
				{{/if}}
			</div>
		{{else}}
			<h3 style="margin: .75em 0 1.25em; font-size:1.25em; font-weight:bold!important;">
				No se encontraron resultados
			</h3>
		{{/if}}
	</div>

</section>