<link rel="stylesheet" href="/css/post.css">
<script src="/js/post.js"></script>

<section class="post-section">

	<div class="content">

		<div class="return-buton ny-btn">
			<a href="/" class="btn btn-rsp ft-bold" data-back-button>
				Regresar 
				<i class="fal fa-long-arrow-right pl-2"></i>
			</a>
		</div>

		{{#post}}
			<article class="card post">
				<section class="card-body">
					
					<a href="{{endpointPostParse (parseHttp url) lang }}">
						<h6 class="card-title ft-bold mt-3 mb-4">{{ title }}</h6>
					</a>

					<div class="created-at pd-desc">
						<div class="cl"><i class="fas fa-calendar-alt"></i> {{parseDate created_at }} </div>
					</div>

					<main class="text-justify">
						{{{checkHtml html}}}
					</main>

				</section>
			</article>

			<div class="nav-links nye-link-blk">
				<div class="ny-btn">
					<a href="/" data-back-button class="btn btn-rsp ft-bold">
						<i class="fal fa-long-arrow-left"></i>
					</a>
				</div>
				<div class="ny-link">
					<ul class="so-links">
						<li>
							<a href="https://www.facebook.com/sharer/sharer.php?u={{url}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li>
							<a href="https://twitter.com/intent/tweet?text={{title}}&url={{url}}" target="_blank"><i class="fab fa-twitter"></i></a>
						</li>
						<li>
							<a href="whatsapp://send?text={{url}}" data-action="share/whatsapp/share"  target="_blank"><i class="fas fa-share-alt"></i></a>
						</li>
					</ul>
				</div>
			</div>
			
		{{/post}}

		<section class="related-posts rsp-noti-sec rsp-wrap">
			<h3 class="col-12 mb-4 rsp-title ft-bold">
				{{t lang "relacionado"}}
			</h3>
			<div class="d-flex justify-content-center">
				<div class="owl-carousel owl-theme" id="noti" style="width: 85%">
					{{#each postsRelatives}}
						{{>publicaciones/publicaciones-card-body lang=../lang disableShareLinks=true}}
					{{/each}}
				</div>
			</div>
		</section>

	</div>

</section>