<!-- Sección de formulario y mapas -->
<section class="rsp-cont-tab-section rsp-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="rsp-c-tab-blk">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#" role="tab" aria-controls="home" aria-selected="true">{{t lang "res_regional"}}</a>
                        </li>
                    </ul>
                      <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="rsp-ct-us-img" id="img-region">
                                            <img src="/img/usre-icon.png" alt="user">
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-5">
                                        <div class="form-group">
                                            <input type="text" class="form-control"  id="nombre" placeholder=" {{t lang "Nombre"}}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control"  id="telefono" placeholder=" {{t lang "Telefono"}}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control"  id="email" placeholder=" {{t lang "Correo"}}" readonly>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="vu-map">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                           {{>regiones/map}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Sección de noticias de regiones-->
<section class="rsp-noti-sec rsp-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-4">
                <h3 class="rsp-title ft-bold">
                    {{t lang "not_reg"}}
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme" id="noti">
                    {{>regiones/carousel-regions lang=lang post=post}}
                </div>
            </div>
        </div>
    </div>

</section>